<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282853362540-jcg94amsmmg7ca6174il5090cmk5mjti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282853362540-jcg94amsmmg7ca6174il5090cmk5mjti</string>
	<key>API_KEY</key>
	<string>AIzaSyB-G5fDzxih5003URZdpsOfzuMbaGA8KrA</string>
	<key>GCM_SENDER_ID</key>
	<string>282853362540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>lieary</string>
	<key>STORAGE_BUCKET</key>
	<string>lieary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282853362540:ios:e92c32ad171f1af2414149</string>
</dict>
</plist>